@import "App";

.product_card {
  .img_container-dark {
    @include transition(0.3s);
  }
  .img_container {
    @include transition(0.3s);

  }
  .otherInfo {
    @include transition(0.3s);
    top: -50%;
    opacity: 0;
    @include transform-scale(0);
  }
}
.product_card:hover {
  .otherInfo {
    top: -10%;
    opacity: 1;
    @include transform-scale(1);
  }
  .img_container {

    width: 80%;
    @include translatey(-30%);
    box-shadow: 0px -10px 50px  #aecaeeca;
  }  
  .img_container-dark {

    width: 80%;
    @include translatey(-30%);
    box-shadow: 0px -10px 50px  #181515ca;
  }
}

.parallax-effect-img {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  background-size: contain;
  background-repeat: no-repeat;
 
  .inner-element {
    transform: translateZ(40px) scale(0.8);
    width: 70%;
    margin-left: 25%;
  }
}